/* =======================
   NAVBAR
   =======================*/
.user-navbar {
    background-color: #ff4757;
    padding: 14px 0;
}

.nav-container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 22px;
}

.nav-cart {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

/* =======================
   DROPDOWN MENÜ
   =======================*/
.nav-dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown-toggle {
    color: white;
    font-weight: 600;
}

.dropdown-menu {
    position: absolute;
    top: 30px;
    right: 0;
    background: white;
    min-width: 170px;
    border-radius: 6px;
    display: none;
    padding: 10px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 1000;
}

    .dropdown-menu li {
        padding: 10px 16px;
        cursor: pointer;
        font-size: 15px;
    }

        .dropdown-menu li:hover {
            background: #f1f1f1;
        }

    .dropdown-menu .danger {
        color: red;
        font-weight: bold;
    }

.divider {
    height: 1px;
    background: #ddd;
    margin: 6px 0;
}

/* Hover ile açýlma */
.nav-dropdown:hover .dropdown-menu {
    display: block;
}




